body {  margin: 0px; 
        padding:0; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: whitesmoke; }

 table {
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
  width: 30%;
  

}

td, th {
  border: 2px solid black;
  text-align: center;
  padding: 10px;
}


hr {
  color: #f3e;
  padding: 2px 2px ;
  background-color: #ede5e5;
  
}
